
<form >
<div *ngIf="tailieu">

    <div class="article-clean" style="background-color: #4abdac;height: 590px;margin:0px; ">
      <div class="container" style="margin: 0px;text-align: center;width: auto;">
          <div class="row" style="margin: 0px 50px;">
              <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2" style="background-color: #f8fafa;border: 1px solid #dfdce3;">
                  <!-- <div class="intro"><img class="img-fluid" src="" style="color: rgb(247,183,51);"><iframe src="{{tailieu.Nguontailieu}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div> -->

                  <!-- <div class="intro"><iframe src="{{tailieu.linktailieu}}" style="margin-top: 50px;"></iframe></div> -->
                  
                  <div class="intro"><video width="500" controls style="margin-top: 40px;"> <source src="/assets/{{tailieu.linktailieu}}" type="video/mp4">  </video> </div>
                    
                   

                  <div style="width: 18%;height: 50px;position: absolute;right: 0px; margin: 2% 42% 4% 0px;">

                      <button mat-mini-fab color="warn" type ="submit" style="font-size: 20px; color: rgb(255, 255, 255); margin-top: 2%;" (click)="updatelike()"> <mat-icon >favorite</mat-icon></button>
                      <!-- ICON BUTTON:  https://www.positronx.io/angular-material-design-buttons-tutorial-with-example/ -->

                      <p style="color: black rgb(255,255,255);font-family: Cookie, cursive;float:right;" (click)="updatelike()">{{tailieu.Luotthich}} lượt thích </p>
                  </div>
                  <h1 class="text-center" style="color:  black ;font-size: 30px;font-family: Cookie, cursive;margin: 9% 0px 0px 0px;"> {{tailieu.Tentailieu}}</h1>
                  <div class="text">
                      <p class="text-center"><span class="by" style="color: rgb(255,255,255);font-family: Cookie, cursive;;">by</span> <a href="{{tailieu.Nguontailieu}}" style="color: rgb(247,183,51);font-size: 20px;font-family: Cookie, cursive;">{{tailieu.Nguontailieu}}</a></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    </div>

  </form>
    
    <!-- https://www.npmjs.com/package/mat-video
      https://www.npmjs.com/package/ngx-embed-video -->